/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUST  3
#define HYPER   4
#define GAME    5

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* QWERTY
 * .----------------------------------------------------------------------------------------------------------------------------------.
 * |  `   |   1  |   2  |   3  |   4  |   5  |                                              |   6  |   7  |   8  |   9  |   0  | PScr |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | ESC  |   Q  |   W  |   E  |   R  |   T  |                                              |   Y  |   U  |   I  |   O  |   P  |  \   |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Tab  |   A  |   S  |   D  |   F  |   G  |                                              |   H  |   J  |   K  |   L  |   ;  |  '   |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Shift|   Z  |   X  |   C  |   V  |   B  |      | Del  | PGDN  | | PGUP  | Home  |      |   N  |   M  |   ,  |   .  |   /  | Shift|
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Ctrl | Alt  | Meta | Alt  |             | Meta | Space| Lower | | Raise | Enter | RAlt |             | LEFT | DOWN | UP   | RIGHT|
 * .----------------------------------------------------------------------------------------------------------------------------------.
 */

            bindings = <
&kp GRAVE  &kp N1    &kp N2     &kp N3    &kp N4    &kp N5                                                                    &kp N6  &kp N7  &kp N8     &kp N9    &kp N0     &kp PSCRN
&kp TAB    &kp Z     &kp Y      &kp U     &kp A     &kp Q                                                                     &kp P   &kp B   &kp M      &kp L     &kp F      &kp J
&lt 0 ESC  &kp C     &kp S      &kp I     &kp E     &kp O                                                                     &kp D   &kp T   &kp N      &kp R     &kp H      &kp LS(SQT)
&kp LSHFT  &kp V     &kp X      &kp APOS  &kp SEMI  &kp LBKT             &kp DEL    &kp PG_DN  &kp PG_UP  &kp HOME            &kp W   &kp G   &kp COMMA  &kp DOT   &kp SLASH  &mt RSHFT ENTER
&kp LCTRL  &kp LALT  &kp LMETA  &kp LALT                      &kp LMETA  &kp SPACE  &mo 0      &mo 0      &kp BSPC  &kp RALT                  &kp LEFT   &kp DOWN  &kp UP     &kp RIGHT
            >;
        };
    };
};
