/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUST  3
#define HYPER   4
#define GAME    5

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* QWERTY
 * .----------------------------------------------------------------------------------------------------------------------------------.
 * |  `   |   1  |   2  |   3  |   4  |   5  |                                              |   6  |   7  |   8  |   9  |   0  | PScr |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | ESC  |   Q  |   W  |   E  |   R  |   T  |                                              |   Y  |   U  |   I  |   O  |   P  |  \   |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Tab  |   A  |   S  |   D  |   F  |   G  |                                              |   H  |   J  |   K  |   L  |   ;  |  '   |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Shift|   Z  |   X  |   C  |   V  |   B  |      | Del  | PGDN  | | PGUP  | Home  |      |   N  |   M  |   ,  |   .  |   /  | Shift|
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Ctrl | Alt  | Meta | Alt  |             | Meta | Space| Lower | | Raise | Enter | RAlt |             | LEFT | DOWN | UP   | RIGHT|
 * .----------------------------------------------------------------------------------------------------------------------------------.
 */

            bindings = <
&kp GRAVE  &kp N1    &kp N2        &kp N3            &kp N4    &kp N5                                                                                     &kp N6  &kp N7  &kp N8     &kp N9    &kp N0  &kp SLASH
&kp TAB    &kp Z     &kp Y         &kp U             &kp A     &kp Q                                                                                      &kp V   &kp B   &kp M      &kp L     &kp F   &kp J
&mo 1      &kp C     &kp S         &kp I             &kp E     &kp O                                                                                      &kp D   &kp T   &kp N      &kp R     &kp H   &kp MINUS
&kp LSHFT  &kp P     &kp X         &kp LEFT_BRACKET  &kp APOS  &kp SEMICOLON                 &kp BACKSLASH  &kp BACKSLASH  &kp PG_UP  &kp HOME            &kp W   &kp G   &kp COMMA  &kp DOT   &kp K   &mt RSHFT ENTER
&kp LCTRL  &kp LGUI  &kp LEFT_ALT  &kp SPACE                                  &kp BACKSLASH  &kp SPACE      &kp BACKSLASH  &mo 0      &kp BSPC  &kp RALT                  &kp LEFT   &kp DOWN  &kp UP  &kp RIGHT
            >;
        };

        layer_1 {
            bindings = <
&kp F12  &kp F1    &kp F2     &kp F3    &kp F4     &kp F5                                                     &kp F6     &kp F7     &kp F8    &kp F9     &kp F10    &kp F11
&trans   &trans    &kp UNDER  &kp LBKT  &kp RBKT   &kp CARET                                                  &kp POUND  &kp LT     &kp GT    &kp EQUAL  &kp AMPS   &kp AT
&trans   &kp BSLH  &kp FSLH   &kp LBRC  &kp RBRC   &kp STAR                                                   &kp QMARK  &kp LPAR   &kp RPAR  &kp MINUS  &kp COLON  &trans
&trans   &kp EXCL  &kp DLLR   &kp PIPE  &kp TILDE  &kp GRAVE          &trans  &trans  &trans  &trans          &kp PLUS   &kp PRCNT  &kp DQT   &kp SQT    &kp SEMI   &trans
&trans   &trans    &trans     &trans                          &trans  &trans  &trans  &trans  &trans  &trans                        &trans    &trans     &trans     &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans     &trans    &trans    &trans     &trans                                                     &trans   &trans  &trans  &trans  &trans     &trans
&trans  &kp PG_UP  &kp BSPC  &kp UP    &kp DEL    &kp PG_DN                                                  &kp ESC  &kp N7  &kp N8  &kp N9  &kp PLUS   &trans
&trans  &kp HOME   &kp LEFT  &kp DOWN  &kp RIGHT  &kp END                                                    &trans   &kp N4  &kp N5  &kp N6  &kp DOT    &trans
&trans  &trans     &kp TAB   &kp INS   &kp RET    &trans             &trans  &trans  &trans  &trans          &trans   &kp N1  &kp N2  &kp N3  &kp COMMA  &trans
&trans  &trans     &trans    &trans                          &trans  &trans  &trans  &trans  &trans  &trans                   &kp N0  &trans  &trans     &trans
            >;
        };
    };
};
